<div class="page-container">
    <h1 style="align-self: center">Home</h1>
    <p>
        This is a simple demo for a single-page application built in vanilla JS. Using a JS framework to build a small
        application is a little-bit overkill sometimes, but you may still want the benefits of having a single-page app.
        This is a good solution to that problem.
    </p>
    <p>
        Check out the source code to see how things work. If you want to try it out for yourself, fork this sandbox and
        play around with it!
    </p>
    <button onclick="gotoanotherpage()">GOTO</button>
</div>