<div class="page-container align-center">
    <h1>Lorem Ipsum</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo ullam, dolore magnam sed perspiciatis sequi
        quidem voluptatum praesentium eius nesciunt illo quasi consectetur asperiores esse nisi quisquam fugiat
        exercitationem hic. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum mollitia, animi
        assumenda ducimus hic dolorem itaque quas eos dolores quo illum qui maiores fuga explicabo officia, praesentium
        harum expedita ratione?
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime libero consectetur architecto, similique
        assumenda voluptatibus iusto corrupti, aliquam labore, inventore exercitationem mollitia. Veniam laudantium
        dignissimos similique, culpa provident praesentium ab. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Omnis cupiditate impedit accusamus dignissimos voluptatem repellendus nihil provident corrupti nisi id alias
        harum aliquam, ut eos? Animi recusandae culpa doloribus error.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, amet recusandae velit, ut vel dignissimos
        architecto aperiam, fuga alias cupiditate voluptatem iste! Quaerat nostrum, aut minima doloribus distinctio
        aspernatur ex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, earum obcaecati eius commodi quasi
        fugiat nostrum quia quos doloremque quibusdam suscipit accusamus molestias temporibus ex facilis eos pariatur
        vel enim!
    </p>
    <a href="/" onclick="route()">Home</a>

</div>
